<form ng-submit="submit()">
  <pre>{{submit}}</pre>
  <pre>{{data | json}}</pre>
  <label>姓名:
    <input type="text" name="name" ng-model="data.name" />
  </label>
  <br>
  <label>邮箱：
    <input type="email" name="email" ng-model="data.email">
  </label>
  <br> 性别：
  <label>
    <input type="radio" name="sex" value="false" ng-model="data.sex">男</label>
  <label>
    <input type="radio" name="sex" value="true" ng-model="data.sex">女</label>
  <br>
  <label>用户名：
    <input type="text" name="username" ng-model="data.username">
  </label>
  <br>
  <button>提交</button>
</form>
